input,
select,
textarea {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: none transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	appearance: none;
}

select {
	text-transform: none;

	&::-ms-expand {
		display: none;
	}

	&::-ms-value {
		background: none;
		color: inherit;
	}
}

textarea {
	overflow: auto;
	resize: vertical;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
