$palettes: (
	"t-default": (
		"primary": (
			"500": (
				"background": #1a49e5,
				"foreground": #e3f2a5,
			),
		),
		"secondary": (
			"500": (
				"background": #ff6200,
				"foreground": #f5f5f5,
			),
		),
		"tertiary": (
			"500": (
				"background": #d6b5fc,
				"foreground": #ff6200,
			),
		),
		"quaternary": (
			"500": (
				"background": #e3f2a5,
				"foreground": #ff6200,
			),
		),
		"neutral": (
			"100": (
				"background": #f5f5f5,
				"foreground": #1a49e5,
			),
		),
	),
);
