@use "/src/styles/0-settings/_typography" as *;

@font-face {
	font-family: "PPMondwest";
	font-weight: $normal;
	src: url("/fonts/PPMondwest-Regular.woff") format("woff"), url("/fonts/PPMondwest-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PPMori";
	font-weight: $normal;
	src: url("/fonts/PPMori-Regular.woff") format("woff"), url("/fonts/PPMori-Regular.woff2") format("woff2");
	font-display: swap;
}
