// Easings

// Ease-in
$ease-in-power-1: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-power-2: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-power-3: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-power-4: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-exponential: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);

// Ease-out
$ease-out-power-1: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-power-2: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-power-3: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-power-4: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-exponential: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);

// Ease-in-out
$ease-in-out-power-1: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-power-2: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-power-3: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-power-4: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-exponential: cubic-bezier(1, 0, 0, 1);
$ease-in-out-sine: cubic-bezier(0.45, 0.05, 0.55, 0.95);

// Other
$easing-bounce: cubic-bezier(0.17, 0.67, 0.3, 1.33);
$easing-gravity: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
