// Spacing units
$spacing-unit-50: 4px;
$spacing-unit-100: 8px;
$spacing-unit-150: 12px;
$spacing-unit-200: 16px;
$spacing-unit-300: 24px;
$spacing-unit-400: 32px;
$spacing-unit-500: 40px;
$spacing-unit-600: 48px;
$spacing-unit-800: 64px;
$spacing-unit-1000: 80px;
$spacing-unit-2000: 160px;
