---
import Section from "../components/Section.astro";
---

<Section
	settings={{
		content: { classes: "|| o-grid" }, // set to false to remove
	}}
>
	<h1 class="o-typography -headline-large || u-gc-1/6">With over a decade of experience, I’m a Montreal-based front-end developer and web designer. For the past 5 years at Locomotive, I blend precision, creativity, and technical expertise to create standout digital experiences. My work has earned multiple awards, including Awwwards, SiteInspire, IDEA, and more.</h1>
</Section>
