@use "/src/styles/globals" as *;

a {
	color: inherit;
}

p {
	@include typography-style("body-medium");
}

h2 {
	@include typography-style("headline-large");
}

h3 {
	@include typography-style("headline-medium");
}

.s-content {
	& > h1:first-child,
	& > h2:first-child,
	& > h3:first-child,
	& > h4:first-child,
	& > h5:first-child,
	& > h6:first-child,
	& > p:first-child,
	& > a:first-child,
	& > blockquote:first-child,
	& > ul:first-child,
	& > ol:first-child {
		margin-top: 0 !important;
	}

	& > h1:last-child,
	& > h2:last-child,
	& > h3:last-child,
	& > h4:last-child,
	& > h5:last-child,
	& > h6:last-child,
	& > p:last-child,
	& > a:last-child,
	& > blockquote:last-child,
	& > ul:last-child,
	& > ol:last-child {
		margin-bottom: 0 !important;
	}
}
